
mainmenu "System Configuration"
config SUBSYSTEM_TYPE_LINUX
        bool
        default y
        select SYSTEM_VERSAL

config SYSTEM_VERSAL
        bool "VERSAL Configuration"
        help
          VERSAL Configuration for the project.
          All these config options will be in /work/yocto/sources/meta-vd100/conf/machine/config

config SUBSYSTEM_VARIANT_VERSALAI-EDGE
        bool
        default y
        help

config SUBSYSTEM_SDT_FLOW
        bool
        default y
        help

source /work/yocto/sources/meta-vd100/conf/machine/configs/Kconfig.main
